# Exclure les dépendances externes
external/
# Exclure les fichiers de build
build/

cmake-build-debug/
.idea/

# Exclure les DLL et fichiers binaires générés
*.dll
*.exe
*.lib
*.a


*.json
*.xml




